* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b0b0b;
    color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* ---------- HEADER ---------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
    border-bottom: 2px solid #bb1b1b;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a {
    margin: 0 15px;
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #bb1b1b;
}

/* ---------- HERO BLOCK ---------- */

.hero {
    height: 70vh;
    background: url(https://cdn1.epicgames.com/spt-assets/2b2299be8ae84d679d4dc57c55af1510/dead-by-daylight-1hg3x.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero-text {
    position: relative;
    z-index: 1;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ccc;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #bb1b1b;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    background: #d92626;
}

/* ---------- CONTENT ---------- */

.content {
    padding: 50px 60px;
}

.content h2 {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

/* Анимация появления */
@keyframes cardAppear {
    0% {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.card {
    position: relative;
    overflow: hidden;
    flex: 1;
    padding: 20px;
    background: #0c0c0c;
    border-radius: 12px;
    border: 2px solid #5a0505; /* тёмно-красная окантовка */
    color: #e3e3e3;

    /* Кровавое свечение */
    box-shadow: 0 0 20px rgba(187, 0, 0, 0.35);

    /* Анимация */
    animation: cardAppear 0.7s ease forwards;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #151515;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 6px;
    flex: 1;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #bb1b1b;
}


.music iframe {
    border-radius: 12px;
    border: 2px solid #bb1b1b;
    box-shadow: 0 0 15px rgba(187, 27, 27, 0.5);
    overflow: hidden;

footer {
    padding: 20px;
    text-align: center;
    background: #111;
    border-top: 2px solid #bb1b1b;
    margin-top: 40px;
}
